.center-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.endscreen-format{
	border-radius: 10px;
	height: 80vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}