.history-container {
	font-family: 'Inknut Antiqua', serif;
	width: 400px;
	max-width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
}
.history-message {
	font-family: 'Inknut Antiqua', serif;
	margin: 8px 0;
	padding: 10px;
	background: #e1f5fe;
	border-radius: 5px;
}
.center-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100hv;
}