h1 {
	font-family: 'Inknut Antiqua', serif;
}
.btn-custom {
	font-family: 'Berkshire Swash', cursive;
	font-size: 1,2rem;
	width:100%;
	position: relative;
	overflow: hidden;
}
.border-solid {
	border: 5px solid #646566;
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	max-width: 600px; 
}
