
<head>
    <link rel="stylesheet" href="../styles/friends.css">
</head>

<div class="header-background">
    <div class="text-center">
        <h1>Cheese's friends</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-1 translucent-background">
        <div class="text-center"><h2>Profile</h2></div>
    </div>
    <div class="col-md-1 translucent-background">
        <div class="text-center"><h2>Online Status</h2></div>
    </div>
    <!--could be replaced with a search bar with different filters/and
    move block remove to the profile column-->
    <div class="col-md-1 translucent-background">
        <div class="text-center"><h2>Block/Remove</h2></div>
    </div>
</div>
