
<head>
    <link rel="stylesheet" href="../styles/body.css">
    <link rel="stylesheet" href="../styles/game_matchmaking.css">
</head>

<div class="center-container text-center matchmaking-format">
    <h2>You are in queue!</h2>
    <p>Finding an opponent...</p>
    <div class="queue-container"> 
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
        <div class="dots"></div>
    </div>
    <div id="matchmakingContainer">
        <p id="statusMessage">Starting Queue</p>
    </div>
</div>
