<head>
  	<link rel="stylesheet" href="../styles/body.css">
	<link rel="stylesheet" href="../styles/glowtext-animation.css">
	<link rel="stylesheet" href="../styles/home.css">
    <audio autoplay loop>
    </audio>
</head>
<div class="center-container">
	<h2>Home</h2>
</div>
<div>
	<p id="userinfo"></p>
</div>
<div class="row translucent-background">
	<div class="d-flex justify-content-center align-items-center">
		<div class="col text-center">
			<i class="bi bi-person-circle"></i>
		</div>
		<div class="col text-center">
			<i class="bi bi-clock-history"></i>
		</div>
		<div class="col text-center">
			<i class="bi bi-people"></i>
		</div>
		<div class="col text-center">
			<i class="bi bi-trophy"></i>
		</div>
	</div>
</div>
<div class="row mt-2">
	<div class="d-flex justify-content-center align-items-center">
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-profile btn btn-secondary btn-custom border border-dark rounded">View Profile</button>
		</div>
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-match_history btn btn-secondary btn-custom border border-dark rounded">Match History</button>
		</div>
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-friends btn btn-secondary btn-custom border border-dark rounded">Friends</button>
		</div>
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-leaderboard btn btn-secondary btn-custom border border-dark rounded">Leaderboard</button>
		</div>
	</div>
</div>
<div class="row mt-2">
	<div class="d-flex justify-content-center align-items-center">
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-gamePong btn btn-secondary btn-custom border border-dark rounded glow">Play with Keyboard!</button>
		</div>
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-game_matchmaking btn btn-secondary btn-custom border border-dark rounded glow">Play Locally!</button>
		</div>
	</div>
</div>
<div class="row mt-2">
	<div class="d-flex justify-content-center align-items-center">
		<div class="col text-center">
			<button class="ft-btn ft-btn-link-game_tournament btn btn-secondary btn-custom border border-dark rounded glow">Join Tournament!</button>
		</div>
	</div>
</div>
<div class="ft-comp ft-comp-chatbox"></div>
<div class="ft-comp ft-comp-history"></div>
