<head>
    <link rel="stylesheet" href="../styles/body.css">
	<link rel="stylesheet" href="../styles/backgrounds.css">
	<link rel="stylesheet" href="../styles/glowtext-animation.css">
	<link rel="stylesheet" href="../styles/leaderboard.css">
</head>

<div class = "container leaderboard-background">
	<div class="header-wrapper">
		<img src="views/crown.jpg" alt="crown">
		<h1 class=glow>The Champions of Pong!</h1>
		<img src="views/crown.jpg" alt="crown">
	</div>
	<div class="row">
		<div class="col-4">
			<h2>Pos.</h2>
		</div>
		<div class="col-4">
			<h2>Player</h2>
		</div>
		<div class="col-4">
			<h2>Score</h2>
		</div>
	</div>
</div>
