<h2>Login</h2>
<form id="loginForm" class="form-group">
    <input type="text" name="email" class="form-control" placeholder="Email" maxlength="256" required>
    <input type="password" name="password" class="form-control" placeholder="Password" maxlenght="256" required>
    <button type="submit" class="btn btn-primary mt-2">Login</button>
    <button class="btn btn-secondary btn-custom glow" onclick="navigateTo('home')">Go to Login</button>
</form>
<form id="oauthForm" class="form-group">
    <button type="submit" class="btn btn-primary mt-2">OAuth with 42 Account</button>
</form>
<p id="loginMessage"></p>
