<div id="matchmakingContainer">
    <h2>Matchmaking</h2>
    <p id="statusMessage">Click the button to find a match.</p>
    <button class="matchmakeButton btn btn-primary" data-btnNum="0">Kyle's local play</button>
    <button class="matchmakeButton btn btn-primary" data-btnNum="1">Tournament button</button>
    <button class="matchmakeButton btn btn-primary" data-btnNum="2">Keyboard Play Button</button>
    <button class="matchmakeButton btn btn-primary" data-btnNum="3">1v1 Play Button</button>
</div>