<div id="matchmakingContainer">
    <h2>Matchmaking</h2>
    <p id="statusMessage">Click the button to find a match.</p>
    <button class="matchmakeButton" data-btnNum="0" class="btn btn-primary">Kyle's local play</button>
    <button class="matchmakeButton" data-btnNum="1" class="btn btn-primary">Tournament button</button>
    <button class="matchmakeButton" data-btnNum="2" class="btn btn-primary">Keyboard Play Button</button>
    <button class="matchmakeButton" data-btnNum="3" class="btn btn-primary">1v1 Play Button</button>
</div>