<div>
    <head>
        <link rel="stylesheet" href="../styles/body.css">
        <link rel="stylesheet" href="../styles/match_history.css">
    </head>
        <div class="header-background">
            <h1>Match History</h1>
        </div>
        <div class="row">
            <div class="col-md-1 translucent-background">
                <div class="text-center"><h2>Date</h2></div>
            </div>
            <div class="col-md-1 translucent-background">
                <!--might replace with other players in the game to match pdf,
                dont get what its asking for with "including lvl games"-->
                <div class="text-center"><h2>Match Type</h2></div>
            </div>
            <div class="col-md-1 translucent-background">
                <div class="text-center"><h2>Elo Diff</h2></div>
            </div>
        </div>
</div>
