<head>
	<link rel="stylesheet" href="../styles/profile.css">
</head>

<div class="container text-center">
    <div id="usernameInfo"></div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1" style="margin-top: 25px;">
            <div class="row mb-0">
                <button class="ft-btn ft-btn-link-friends btn btn-secondary btn-custom border border-dark rounded d-flex align-items-center">
                    <i class="bi bi-people me-2"></i> Manage Friends
                </button>
            </div>
            <div class="row mb-0">
                <button class="ft-btn ft-btn-link-update_info btn btn-secondary btn-custom border border-dark rounded d-flex align-items-center">
                    <i class="bi bi-pencil-square me-2"></i> Update Info
                </button>
            </div>
            <div class="row mb-0">
                <button class="ft-btn ft-btn-link-game_tournament btn btn-secondary btn-custom border border-dark rounded d-flex align-items-center"> 
                    <i class="bi bi-trophy me-2"></i> Start Tourn
                </button>
            </div>
            <div class="row mb-0">
                <button class="btn btn-secondary btn-custom border border-dark rounded d-flex align-items-center">
                    <i class="bi bi-check-circle me-2"></i> Verify Account
                </button>
            </div>
            <div class="row mb-0">
                <button class="ft-btn ft-btn-link-home btn btn-secondary btn-custom border border-dark rounded d-flex align-items-center">
                    <i class="bi bi-house-fill me-2"></i> Back to Home
                </button>
            </div>
        </div>
        <div class="col-md-10">
            <div class="translucent-background">			
    
                <div class="topleft-background">
                    <div>
                        <p id="userinfo"></p>
                    </div>
                </div>
                <div class="right-section">
                    <div class="topright-background">
                        <div class="wrapper"><h2>Win/loss Ratio</h2></div>
                    </div>
                    <div class="bottomright-background">
                        <!--will display match history page like the current chat,
                        might change just to total elo or something down the road, or add elo to the stats above this contain-->
                        <!-- <div class="ft-comp ft-comp-match_history"></div> -->
                        <div class="ft-comp ft-comp-match_history"></div>

                    </div>
                </div>
            </div>
        </div>
        <!--Needs to log out of database-->
        <div class="row mb-0">
            <button class="ft-btn ft-btn-link- btn-secondary btn-custom border border-dark rounded d-flex align-items-center">
                <i class="bi bi-box-arrow-right me-2"></i> Logout
            </button>
        </div>
    </div>
</div>
