<head>
	<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&family=Berkshire+Swash:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../styles/body.css">
	<link rel="stylesheet" href="../styles/glowtext-animation.css">
	<link rel="stylesheet" href="../styles/backgrounds.css">
	<link rel="stylesheet" href="../styles/welcome.css">
</head>
<div class="container text-center welcome-background">
	<div class="border-solid">
		<h1>Welcome to Pong Games!</h1>
		<p>Click below to login or signup:</p>
		<div class="row">
			<div class="col">
				<button class="ft-btn ft-btn-link-login btn btn-secondary btn-custom glow">Go to Login</button>
			</div>
			<div class="col">
				<button class="ft-btn ft-btn-link-signup btn btn-secondary btn-custom glow">Go to Signup</button>
			</div>
			<div class="col">
				<button class="ft-btn ft-btn-link-gamePong btn btn-secondary btn-custom glow">Play Pong</button>
			</div>
		</div>
	</div>
</div>
