DJANGO_TEST_NAME_1=Andy
DJANGO_TEST_EMAIL_1=t1@test.test
DJANGO_TEST_PASSWORD_1=test

DJANGO_TEST_NAME_2=Beatrix
DJANGO_TEST_EMAIL_2=t2@test.test
DJANGO_TEST_PASSWORD_2=test

DJANGO_TEST_NAME_3=Cassey
DJANGO_TEST_EMAIL_3=t3@test.test
DJANGO_TEST_PASSWORD_3=test

DJANGO_TEST_NAME_4=Daniel
DJANGO_TEST_EMAIL_4=t4@test.test
DJANGO_TEST_PASSWORD_4=test

# DJANGO Allowed origin
HOST_IP=192.168.0.250

REDIS_HOST=redis
REDIS_PORT=6379

POSTGRES_HOST=postgres
POSTGRES_DB=postgresdb
POSTGRES_USER=pgdbuser
POSTGRES_PASSWORD=pgdbuserpass

DJANGO_SUPERUSER_USERNAME=djuser
DJANGO_SUPERUSER_EMAIL=dj@test.test
DJANGO_SUPERUSER_PASSWORD=djpass

# Django secret key
DJANGO_SECRET_KEY=supersecret
DJANGO_DEBUG=1

# 42 Oauth Authorization App
CLIENT_ID=<42 Oauth>
CLIENT_SECRET=< client secret (*contact developers to get value) >


# Websocket/frontend shared volume path
CONFIG_PATH=/config/settings.json

